.read-task {
	/*background: url(../images/mps/read_task.png) no-repeat;*/
	padding: 0 0 3px 0px;
}
.unread-task  {
	/*background:url("../images/mps/unread_task.png") no-repeat;*/
	font-weight:bold;
	padding:0 0 3px 0px;
}

.attachment {
	background: url(../images/mps/attachment.png) no-repeat;
	padding: 0 0 3px 20px;
	width:20%;   
}
.w1{width:1%; text-align:left; }  
.w2{width:2%; text-align:left;}
.w3{width:3%;text-align:left;}
.w4{width:4%;text-align:left;}

.w5{width:5%;text-align:left;}
.w6{width:6%;text-align:left;}
.w7{width:7%;text-align:left;}
.w8{width:8%;text-align:left;}
.w9{width:9%;text-align:left;}
.w10{width:10%;text-align:left;}
.w15{width:15%;text-align:left;}
.w20{width:20%;text-align:left;}
.w30{width:30%;text-align:left;}
.w40{width:40%;text-align:left;}
.w50{width:50%;text-align:left;}
.w60{width:60%;text-align:left;}
.w70{width:70%;text-align:left;}
.w80{width:80%;text-align:left;}
.w90{width:90%;text-align:left;}
.w100{width:100%;text-align:left;}
.w_cent{width:100%;text-align:center;}
