<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestIcefacesLiferay</display-name>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.jspx</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.application.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/faces-config.xml</param-value>
  </context-param>
  <context-param>
    <description>To allow multiple windows for a single application.</description>
    <param-name>com.icesoft.faces.concurrentDOMViews</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Turn on/off application-wide synchronous or asynchronous updates.	</description>
    <param-name>com.icesoft.faces.synchronousUpdate</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Google Maps API key is required if gMap component is used. Sign up for an API key from http://code.google.com/apis/maps/signup.html</description>
    <param-name>com.icesoft.faces.gmapKey</param-name>
    <param-value>ABQIAAAADlu0ZiSTam64EKaCQr9eTRTOTuQNzJNXRlYRLknj4cQ89tFfpxTEqxQnVWL4k55OPICgF5_SOZE06A</param-value>
  </context-param>
  <context-param>
    <param-name>com.icesoft.faces.compressResources</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>com.icesoft.faces.portlet.renderStyles</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>proprieta value per il bean nazioni</description>
    <param-name>statoDefault</param-name>
    <param-value>IT</param-value>
  </context-param>
  <context-param>
    <description>provincia nascita di default(siena)</description>
    <param-name>provinciaNascitaDefault</param-name>
    <param-value>52</param-value>
  </context-param>
  <context-param>
    <description>provincia residenza di default(siena)</description>
    <param-name>provinciaResidenzaDefault</param-name>
    <param-value>52</param-value>
  </context-param>
  <context-param>
    <description>comune nascita di default(siena)</description>
    <param-name>comuneNascitaDefault</param-name>
    <param-value>32</param-value>
  </context-param>
  <context-param>
    <description>regione residenza di default(siena)</description>
    <param-name>regioneDefault</param-name>
    <param-value>9</param-value>
  </context-param>
  <context-param>
    <description>comune redisenza di default(siena)</description>
    <param-name>comuneResidenzaDefault</param-name>
    <param-value>32</param-value>
  </context-param>
  <context-param>
    <description>cap redisenza di default(53100)</description>
    <param-name>capResidenzaDefault</param-name>
    <param-value>53100</param-value>
  </context-param>
  <context-param>
    <description>incasso</description>
    <param-name>incasso</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <description>tipologia tessera</description>
    <param-name>tipoTessera</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <description>tipologia carica</description>
    <param-name>tipoCarica</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <description>stato Anagrafica Default</description>
    <param-name>statoAnagraficaDefault</param-name>
    <param-value>1</param-value>
  </context-param>
  <listener>
    <listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
  </listener>
  <servlet>
    <servlet-name>Generate PDF</servlet-name>
    <servlet-class>it.contrada.servlets.ExportPdf</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Blocking Servlet</servlet-name>
    <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>ExportPdf</display-name>
    <servlet-name>ExportPdf</servlet-name>
    <servlet-class>it.contrada.servlets.ExportPdf</servlet-class>
  </servlet>
  <servlet>
    <display-name>ExportTxt</display-name>
    <servlet-name>ExportTxt</servlet-name>
    <servlet-class>it.contrada.servlets.ExportTxt</servlet-class>
  </servlet>
  <servlet>
    <display-name>StampaDistinta</display-name>
    <servlet-name>StampaDistinta</servlet-name>
    <servlet-class>it.contrada.servlets.StampaDistinta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generate PDF</servlet-name>
    <url-pattern>*.stampa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Blocking Servlet</servlet-name>
    <url-pattern>/block/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>/xmlhttp/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>*.iface</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadHtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportPdf</servlet-name>
    <url-pattern>/ExportPdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportTxt</servlet-name>
    <url-pattern>*.txt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportTxt</servlet-name>
    <url-pattern>/ExportTxt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaDistinta</servlet-name>
    <url-pattern>/StampaDistinta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StampaDistinta</servlet-name>
    <url-pattern>*.distinta</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jspx</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AdminPages</web-resource-name>
      <url-pattern>/Anagrafica</url-pattern>
      <url-pattern>/Poste</url-pattern>
      <url-pattern>/ReportIncassi</url-pattern>
      <url-pattern>/Rid</url-pattern>
      <url-pattern>/Stradario</url-pattern>
      <url-pattern>/Tessera</url-pattern>
      <url-pattern>/Home.jspx</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>AMMINISTRATORE</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/loginFail.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>AMMINISTRATORE</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>it.contrada.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>*.logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generatePdf</display-name>
    <servlet-name>generatePdf</servlet-name>
    <servlet-class>it.contrada.servlets.GeneratePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generatePdf</servlet-name>
    <url-pattern>/generatePdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>generatePdf</servlet-name>
    <url-pattern>*.pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StampaPDFLetteraTessera</display-name>
    <servlet-name>StampaPDFLetteraTessera</servlet-name>
    <servlet-class>it.contrada.servlets.StampaPDFLetteraTessera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StampaPDFLetteraTessera</servlet-name>
    <url-pattern>/StampaPDFLetteraTessera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StampaPDFLetteraInsoluti</display-name>
    <servlet-name>StampaPDFLetteraInsoluti</servlet-name>
    <servlet-class>it.contrada.servlets.StampaPDFLetteraInsoluti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StampaPDFLetteraInsoluti</servlet-name>
    <url-pattern>/StampaPDFLetteraInsoluti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StampaTessera</display-name>
    <servlet-name>StampaTessera</servlet-name>
    <servlet-class>it.contrada.servlets.StampaTessera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StampaTessera</servlet-name>
    <url-pattern>/StampaTessera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StampaLettera</display-name>
    <servlet-name>StampaLettera</servlet-name>
    <servlet-class>it.contrada.servlets.StampaLetteraPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StampaLettera</servlet-name>
    <url-pattern>/StampaLettera</url-pattern>
  </servlet-mapping>
</web-app>